<div class="w-full p-5 rounded-md shadow-lg grid justify-items-stretch mt-10 ">

<div>
  <div class="inline"><%= image_tag("broker.png",class:"object-contain xs:w-auto sm:w-1/4 md:w-1/5  inline",alt:"Transactions Image ") %></div>
  <div class="inline"><h1 class="inline ml-10 text-xl font-bold">Stock Market List</h1></div>
</div>

<%#= form_tag search_stock_path, method: :get do %>
        <%#= text_field_tag :stock, params[:stock], placeholder: "Enter Stock Ticker..." %>
        <%#= button_tag "Submit", class: "btn btn-lg btn-primary btn-block mt-3"%>
        <%# end %>

	<div class="container flex items-center justify-center justify-self-center mt-5">    
        
        <% @mostactive = @client.stock_market_list(:mostactive) %>
        <% @iexvolume = @client.stock_market_list(:iexvolume) %>
    
        <% @key = @client.key_stats('AAPL') %>

        <% if @mostactive.length == 0 and @iexvolume.length == 0%>
          <p>There are no stocks list available at the moment...</p>
        <% else %>
          <% if @mostactive.length == 0 %>
            <%= render 'partials/iexvolume' %>
            <% else %>
            <%= render 'partials/mostactive' %>
          <% end %>
        <% end %>

       
       
	</div>
</div>

<style>
  html,
  body {
    height: 100%;
  }

  @media (min-width: 640px) {
    table {
      display: inline-table !important;
    }

    thead tr:not(:first-child) {
      display: none;
    }
  }

  td:not(:last-child) {
    border-bottom: 0;
  }

  th:not(:last-child) {
    border-bottom: 2px solid rgba(0, 0, 0, .1);
  }
</style>

